header {
	position: relative;
}

.navbar {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow-x: hidden;
    height: 100vh;
}

.navbar-list {
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	padding: 10px 0;
	z-index: 2;

	@include max-mq($max-mobile) {
		display: block;
		position: absolute;
		padding-top: 70px;
		top: 0;
		width: 100%;
		text-align: center;
		background-color: $white;
		height: 100vh;
		transform: translateX(100%);
		visibility: hidden;
		
		.navbar-list-item-logo {
			display: none;
		}

		&.active {
			transform: translateX(0);
			visibility: visible;
		}

		&.activated {
			transition: transform $transition-slow, visibility $transition-slow;
		}
	}
}

.navbar-list-item-link {
	color: $dark-greyish-blue;
	padding: 20px 35px;
	display: inline-block;
	transition: color $transition-base;
	font-weight: bold;

	@include max-mq($max-mobile) {
	    padding: 6.5px 35px;
	    font-weight: normal;
	    width: 100%;
	    font-size: 18px;
	    letter-spacing: 3.5px;
	}

	&:hover {
		color: $lime-green;
	}
}

.navbar-mobile {
	display: none;

	@include max-mq ($max-mobile) {
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding-left: 20px;
	    
	    .logo-mobile {
			width: 50px;
		}
	}
}