// Colors
$lime-green: #64c29e;
$grey: #848789;
$light-grey: #f7f7f7;
$dark-greyish-blue: #4d4959;

$white: #fff;
$black: #000;

// Breakpoints
$min-extra-large-desktop: 2559px;
$max-tablet: 1024px;
$max-mobile: 767px;

// Fonts
$font-family-primary: "Lato", sans-serif;

// Font weight
$font-weight-regular: 400;

// transitions
$transition-base: 0.4s ease;
$transition-slow: 1.5s ease;
$transition-fast: 0.2s ease;